
.so-prods-search {
	margin-bottom: 5px;
	color: #102d84;
	font-style: italic;
	border: 1px solid #99f;
}

.search-filters {
	border-radius: 5px;
	padding: 0 15px;
	background: #0817f40d;
}
.prod_search_form {
	padding: 0 16px !important;
}

.control-btns {
	float: right;
}

.control-btns .btn-link:hover{
	border: 1px solid #d5d8db;
	border-radius: 3px;
}

.vertical-spacer {
	padding: 5px 0 0;
	margin:0 7px;
	font-size: 15px;
	color:#7c7bad;
}

.btn_add {
	margin-bottom:5px;
	padding: 2px 7px !important;
}

.prods_count_info {
	text-align:center;
	color:red;
	font-size: 13px;
}

.list_product_search tr.o_data_row, .list_inserted_products tr.o_data_row {
	pointer-events: none;
}

.list_product_search td.o_list_record_selector {
	pointer-events: auto;
}

.list_product_search tr.o_data_row td:last-child, .list_product_search tr th:last-child {
	display: none !important;
}

.list_product_search th[data-name='name'] 			{width: 60% !important;}
.list_product_search th[data-name='default_code'] 	{width: 20% !important;}
.list_product_search th[data-name='list_price'] 	{width: 20% !important;}

